.dojoxGuideManager {
	display: none;
}
.dijitTooltipDialog.dojoxGuideTooltipDialogPopup {
	outline: none;
}
.dojoxGuideUnderlay {
	opacity: 0.3;
	z-index: 900;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: grey;
}
.dj_ie .dojoxGuideUnderlay {
	filter: alpha(opacity=30);
}

.dojoxGuidePopup .dojoxGuideStepContainer {
}
.dojoxGuidePopup .dojoxGuideButtonBar {
	border-top: lightblue;
	text-align: right;
}

.dojoxGuidePopup .dojoxGuideButtonBar .dojoxGuideAction {
	color: blue;
	cursor: pointer;
	margin-left: 5px;
}
.dojoxGuidePopup .dojoxGuideButtonBar .dojoxGuideAction:hover {
	text-decoration: underline;
}
